/* custom color  */
.bg-dark-blue{
    background-color: #241f2e;
    
}
.bg-light-blue{
    background-color: #231d2c;
}
/* newsletter email input */
.email-input{
    padding: 10px;
    border: none;
    background: #f1f1f1;
    outline: none;
    width: 75%;
}
/* subscribe btn */
.btn-subscribe{
    background-color: #04AA6D;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}
.btn-subscribe:hover {
    opacity:1;
}
/* quick link design */
.quick-links{
    display: block;
    text-decoration: none;
}